<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="net.xdclass.online_xdclass.mapper.VideoOrderMapper">

    <select id="getByUserIdAndVideoIdAndState" resultType="VideoOrder">
        SELECT * FROM video_order WHERE user_id = #{user_id} AND video_id = #{video_id} AND state = #{state};
    </select>

    <insert id="saveOrder" useGeneratedKeys="true" keyColumn="id" keyProperty="id">
        INSERT INTO `video_order` (`order_number`, `state`, `creation_time`, `total_fee`, `video_id`,
         `video_title`, `video_img`, `user_id`)
        VALUES
        (#{orderNumber,jdbcType=VARCHAR},#{state,jdbcType=INTEGER},#{creationTime,jdbcType=TIMESTAMP},#{totalFee,jdbcType=INTEGER},
        #{videoId,jdbcType=INTEGER},#{videoTitle,jdbcType=VARCHAR},#{videoImg,jdbcType=VARCHAR},#{userId,jdbcType=INTEGER});
    </insert>

    <select id="getOrderListByUserId" resultType="VideoOrder">
        SELECT * FROM video_order WHERE user_id = #{user_id} ORDER BY creation_time DESC;
    </select>
</mapper>